
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Comfortaa;
  
}

@media (min-width: 1024px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
    }
}



button{
        margin:10px;   
}