
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Comfortaa;
  
}

@media (min-width: 1024px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
    }
}

.safeArea{
      padding-top: env(safe-area-inset-top, 20px);
      padding-bottom: env( safe-area-inset-bottom, 20px);
}


button{
        margin:10px;   
}